
.home-texts{
    color: white;
    font-size: 40px;
}
.home-p{
    color: white;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}
.home-btn{
    color: #000;
    background: #ffb71c;
    padding: 10px 25px;
    margin-left: 45%;
    border-radius: 10px;
}
.home-btn:hover{
    background: white;
    color: black;
}